// .container.header-container {
//   display: flex;
// }

.header-block {
  display: none;
}

.menu-icon {
  display: block;
  fill: black;
}

.header-block .header-line {
  border: 1px solid #ececec;
}
