.page-section.service-part {
  padding-top: 0;

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.service {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--second-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--second-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.service__list {
  position: relative;

  display: flex;
  margin: 0;
  justify-content: center;

  list-style-type: none;
}

.service__item:not(:last-child) {
  margin-right: 30px;
}

.service__block {
  position: absolute;
  content: '';
  bottom: 0;
  width: 370px;
  height: 70px;

  color: var(--main-white);
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}

.service__text {
  padding-top: 27px;
}
