.container {
  // width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  outline: 1px solid tomato;
}

.page-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1170px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.page-footer {
  background-color: var(--footer-bg);
}

.container.footer-block {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1170px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer-tab-geo {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: 1170px) {
    justify-content: space-between;
  }
}

.footer-sub-geo {
  display: block;

  @media screen and (min-width: 768px) {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
