// main section geometry
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  // outline: 1px solid tomato;
}
// section geomnetry
.page-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
// footer geometry
.page-footer {
  background-color: var(--footer-bg);
}

.container.footer-block {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-tab-geo {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

.footer-sub-geo {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
