/* основной текст цвета #757575 */
/* вторичный цвет текста #212121 */
/* акцент #2196F3 */
/* основной фон #FFFFFF */
/* черный лого #000000 */
/* наша команда бг #F5F4FA */
/* бг футер #2F303A */
/* футер адрес полубелый background: rgba(255, 255, 255, 0.6); */
/* герой цвет текста rgba(255, 255, 255, 1) */
/* цвет лого ссылок #AFB1B8 */

:root {
  --main-text: #757575;
  --accent: #2196f3;
  --black-logo: #000000;
  --second-text: #212121;
  --main-white: #ffffff;
  --logo-color: #afb1b8;
  --staff-bg: #f5f4fa;
  --footer-bg: #2f303a;
  --footer-adress: rgba(255, 255, 255, 0.6);
}

body {
  margin: 0;

  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  color: var(--main-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Утилиты */
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
