.feature {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature__list {
  display: flex;
  margin: 0;

  list-style-type: none;
}

.feature__item {
  margin-right: 30px;

  :not(:last-child) {
    margin-right: 0;
  }
}

.feature__icon {
  padding: 25px 100px;

  max-width: 270px;
  background-color: var(--staff-bg);
  border-radius: 4px;

  margin-bottom: 30px;
}

.feature__title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--second-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
